<% if @application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% @application.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>

    <h1> <%= @application.name %> <%= @application.version %> </h1>
    <br>
    <div class="well">
      <h3>Name </h3>
      <%= @application.name %>
      <h3> Version </h3>
      <%= @application.version %>
      <h3> Installer Url </h3>
      <%= @application.installer_url %>
    </div>
    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>

    <h2> Precondition Inputs: </h2>



    <% if @precondition_inputs.any? %>

        <br>
        <table class="table table-striped">
          <thead>
            <th>Name of Input</th>
            <th>Comparison</th>
            <th>Value</th>
            <th>Show Next Input</th>
            <th></th>
            </thead>
          <tbody>
          <% @precondition_inputs.each do |input| %>
              <tr>

                <%= form_for(@conditional) do |f| %>

                <td> <%= input.name %> <%= f.hidden_field :input_id_pre, value: input.id %></td>
                <td> == </td>
                <td> <%= f.text_field :value, id: 'value' %></td>
                <td>
                  <%= f.collection_select(:input_id_post, @application.inputs.where('id != ?', input.id), :id, :name) %>
                <td>
                  <% if Conditional.where('input_id_pre=? and input_id_post=?',input.id, :input_post_id).any? %>
                        <div class="nav"></div>
                    <% else %>
                        <%= f.submit 'add Condition' %>
                  <% end %>
                </td>

                    <% end  %>
              </tr>
          <% end %>
          </tbody>
        </table>

        <h2> Conditions: </h2>



            <table class="table table-striped">

              <thead>
                <th>
                  Input pre-Condition
                </th>
              <th>
                Input post-Condition
              </th>
              <th>
                Value to Evaluate condition
              </th>
              </thead>
              <tbody>
              <% @actual_conditionals.each do |a_conditional| %>
              <tr>
                <td>
                  <%= Input.find(a_conditional.input_id_pre).name %>
                </td>
                <td>
                  <%=  Input.find(a_conditional.input_id_post).name %>
                </td>
                <td>
                  <%=  a_conditional.value %>
                </td>
              </tr>
              <% end  %>
              </tbody>

            </table>

    <% else %>
        <br>
        <h3> No inputs </h3>

    <% end %>

    <br>

    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>

    <div class="actions">
      <%= button_to 'Back', {controller: 'applications', action: 'add_inputs'  } %>
    </div>

    <div class="actions">
      <%= button_to 'Next',{controller: 'applications', action: 'organize_parameters' }, :class => "btn btn-primary" %>
    </div>


