<h1>My Data</h1>


<!-- Button to trigger modal -->
<!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Upload File</a> -->

<!-- TO create folders and directories -->
<ul >
  <% if @current_directory %>

      <ul class="pager">
        <li class="next"><%= link_to "Upload", new_sub_file_path(@current_directory), :class=>'btn btn-primary' %></li>
        <li class="next"><%= link_to "New Folder", new_sub_directory_path(@current_directory), :class=>'btn btn-primary' %></li></ul>
  <% else %>
      <ul class="pager">
        <li class="next"><%= link_to "Upload", new_cloud_file_path, :class=>'btn btn-primary' %></li>
        <li class="next"><%= link_to "New Folder", new_directory_path, :class=>'btn btn-primary' %></li></ul>
  <% end %>
</ul>

<%= render :partial => "browser/breadcrumbs" %>

<!-- Directories -->


<table class= "table table-hover">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Size (bytes)</th>
    <th>Last modified</th>
    <th></th>
    <th></th>
  </tr>

  <% @directories.each do |directory| %>
      <tr >
        <td> <i class="icon-folder-open"></i></td>
        <td ><%= link_to directory.name, browse_path(directory) %></td>
        <td></td>
        <td><%= directory.updated_at %></td>
        <td>
          <%= link_to "Rename" , rename_directory_path(directory) %>
        </td>

        <td>
          <%= link_to "Delete", directory, :confirm => 'Are you sure to delete the folder and all of its contents?', :method => :delete %>
        </td>

      </tr>
  <% end %>


  <!-- Files -->

  <% @cloud_files.each do |cloud_file| %>
      <tr>
        <td><li class="icon-file"></td>
        <td><%= cloud_file.name %></td>
        <td><%= number_to_human_size cloud_file.size %></td>
        <td><%= cloud_file.updated_at  %></td>
        <td><a href="<%= cloud_file.complete_url %>">Download</a></td>
        <td><%= link_to "Delete" , cloud_file, :confirm => 'Are you sure?', :method => :delete%></td>

      </tr>
  <% end %>



</table>




<!-- //////////////////////////////////////////////////////////////////////////////////////////////-->

<!-- Modals -->

<!-- modal para subir archivo-->

<!-- Modal -->
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-show="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload File</h3>
  </div>
  <div class="modal-body">
    <p>
      <%= form_for(@cloud_file, :html => {:multipart =>true}) do |f| %>
          <% if @cloud_file.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@cloud_file.errors.count, "error") %> prohibited this cloud_file from being saved:</h2>

              <ul>
                <% @cloud_file.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>




        <div class="field">
          <%= f.label "file" %><br />
          <%= f.file_field :avatar %>
        </div>




        </p>
        </div>
        <div class="modal-footer">

          <div class="btn ">
            <%= f.submit %>
          </div>

        </div>

    <% end %>
    </div>

<!-- FIN de modal para subir archivo-->
