

<div class="content-box">
  <ul class="pager">
    <li class="next"><%= link_to 'New Execution', new_execution_path, :class=>'btn btn-inverse' %></li>
  </ul>
  <div class="content-box-header">
    <h3>
       My Executions

    </h3>

  </div>
  <div class="content-box-content task_block">
    <% @executions.each do |execution| %>

        <div class="content-list">
          <p class="title">
            View Execution: <%= link_to execution.name, execution %>
          </p>
          <p class="project">
            Application: <%= link_to execution.application.name, execution.application %>
            <% if execution.directory %>
                - Directory: <%= link_to execution.directory.name, browse_path(execution.directory) %>
            <% else %>
                - Directory: Not set
            <% end %>

          </p>
           <p>Description: <%= execution.description %></p>
          <p class="status" >
            <div style="max-width: 400px;">
            <% if execution.completed? %>
              <%= link_to 'Complete', define_execution_path(execution), :class => "btn btn-large btn-danger btn-block" %>
            <% elsif execution.launched? %>
              <%= link_to 'Launch', define_execution_part2_path(execution), :class => "btn btn-large btn-warning btn-block" %>

          <% elsif execution.ended? %>
              <td></td>
          <% else %>
              <%= link_to 'Running', edit_execution_path(execution), :class => "btn btn-large btn-info btn-block" %>
                  <% if !execution.start_date.nil? %>
                     <% t=execution.start_date  %>

                  <%= "Started at: "+ t.strftime("%d") +"/"+ t.strftime("%B") +"/"+ t.strftime("%Y") +" at "+ t.strftime("%X")    %>

                      <%end%>

          <% end %>
            </div>

          </p>

          </div>
    <% end %>
    </div>
  </div>



