
<%= form_for(@execution) do |e|%>



    <% if @execution.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@execution.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% execution.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <br>
    <h4> Define the Inputs for the Application: <%= @application.name %> <%= @application.version %></h4>
    <ul class="breadcrumb">
      <%= link_to "Basic Params |", edit_execution_path(@execution) %>
    </ul>


    <div class="well">
      <% i=0 %>
      <% @application.inputs.order('position asc').each do |input|%>
          <% if input.visible? %>
              <h4> <%=input.name%> </h4>
              Description: <strong><%=input.description%></strong>


              <% if input.is_file?%>




                  <div class="field">
                    <%= link_to raw('<i class="icon-file icon-white"></i> Select File') , "#fileModal", :onclick => "set_field('#{(i).to_s}');" ,:class => "btn btn-info", :data => {:toggle => "modal"}, :role => "button" , :id => "but"+(i+1).to_s%>
                    <%= label_tag "lab"+(i+1).to_s, "", :id => 'lab'+(i+1).to_s%>
                    <%= hidden_field :inputs, i, :id => 'inputs_'+(i).to_s%>
                  </div>


              <% elsif input.is_directory?%>

                  <div class="field">
                    <%= link_to raw('<i class="icon-folder-open icon-white"></i> Select Directory') , "#directoryModal", :onclick => "set_field('#{(i).to_s}');" ,:class => "btn btn-success", :data => {:toggle => "modal"}, :role => "button" , :id => "but"+(i+1).to_s%>
                    <%= label_tag "lab"+(i+1).to_s, "", :id => 'lab'+(i+1).to_s%>
                    <%= hidden_field :inputs, i, :id => 'inputs_'+(i).to_s%>
                  </div>

              <% else %>

                  <% if input.value != nil || input.value != ''%>  <br>
                      The value of this parameter has been preset for you, you can change it if you want

                      <br>
                      <%= text_field :inputs, i , :value => input.value%>
                  <% else%>
                      <%= text_field :inputs, i %>
                  <% end %>



              <% end %>
              <ul class="nav nav-list"><li class="divider"></li>   </ul>
          <% end %>

          <% i=i+1 %>


      <% end %>
    </div>
    <br>

    <div class="well">
      <div class="field">
        Select the output directory for your execution
        <div class="field">
          <%= link_to raw('<i class="icon-folder-open icon-white"></i> Select Directory') , "#directoryModal", :onclick => "set_field('#{(i).to_s}');" ,:class => "btn btn-success", :data => {:toggle => "modal"}, :role => "button" , :id => "but"+(i+1).to_s%>
          <%= label_tag "lab"+(i+1).to_s, "", :id => 'lab'+(i+1).to_s%>
          <%= hidden_field :inputs, 'output_dir', :id => 'inputs_'+(i).to_s%>
        </div>
      </div>
    </div>

    <br>

    <div class="actions">
      <%= e.submit 'Next Steps', :class => "btn btn-primary" %>
    </div>




<% end %>


<!-- Modal -->
<div id="fileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="fileModalLabel">Your Files:</h3>
  </div>
  <div class="well">
    <div class="modal-body">
      <div class="css-treeview">

        <ul class="nav nav-list">
          <%= render :partial => 'browser/treeview', :collection => @directories, :as => :directory %>
          <% @cloud_files.each do |cloud_file| %>
              <li><%= link_to cloud_file.name, '#', :onclick => "set_value('#{cloud_file.id}', '#{cloud_file.name}');", :data => {:dismiss => "modal"}  %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>


<div id="directoryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="directoryModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="directoryModalLabel">Your Directories:</h3>
  </div>
  <div class="well">
    <div class="modal-body">
      <div class="css-treeview">

        <ul class="nav nav-list">
          <%= render :partial => 'browser/treeview_no_files', :collection => @directories, :as => :directory %>
        </ul>
      </div>

    </div>
  </div>
</div>
