
<%= form_for(@execution) do |e|%>

    <% if @execution.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@execution.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% @execution.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <br>
    <h3> Advanced settings for: <%= @execution.application.name %> </h3>
    <ul class="breadcrumb">
      <%= link_to "Basic Params |", edit_execution_path(@execution) %>
      <%= link_to "Edit Inputs |", define_execution_path(@execution) %>
    </ul>
    <br>


    <h4> Define the parameters for your execution: </h4>

    <div class="well">
    <br>
    <span class="badge badge-important">Important</span>
    To help e-Clouds calculate the best way to perform the execution, please estimate the following parameters:


    <br>
    <br>

    <strong>Choose a virtual machine type:</strong>
    <br>

      <table class="table table-striped">
        <tr>
          <th>Instance Type</th>
          <th>RAM</th>
          <th>vCPU</th>
          <th><a><span title="EC2 Compute Unit (ECU) – One EC2 Compute Unit (ECU) provides the equivalent CPU capacity of a 1.0-1.2 GHz 2007 Opteron or 2007 Xeon processor.">ECU*</span></a></th>
          <th>IO</th>
          <th>Cost/Hour</th>
          <th></th>
        </tr>

        <% descriptions   = [['0,598','1','up to 2','Low','$0'],
                             ['1,7 ','1','1','Moderate','$0,06'],
                             ['3.75','1','2','Moderate','$0,120'],
                             ['7,5','2','4','Moderate','$0,240'],
                             ['15','4','8','High','$0,480'],
                             ['7','8','20','High','$0,580']] %>
    <% Aws::Ec2::INSTANCE_TYPES.each_with_index do |type, index|%>
          <tr>
            <td><%= type %></td>
            <td><%= descriptions[index][0] %></td>
            <td><%= descriptions[index][1] %></td>
            <td><%= descriptions[index][2] %></td>
            <td><%= descriptions[index][3] %></td>
            <td><%= descriptions[index][4] %></td>
            <td><%= radio_button(:execution_params, :instance_type, type, :checked => (type == @execution.vm_type)) %></td>
          </tr>

    <% end %>
      </table>

    <br>

   <strong> Enter an estimated time per job in minutes:</strong>

    <%= text_field :execution_params, :time_per_job, :value => @execution.time_per_job %>

    <br>

    </div>

    <div class="actions" >
      <%= e.submit 'Calculate', :name => "calculate", :class => "btn btn-info"%>
    </div>

    <br>

    <h4> Execution Parameters</h4>

    <br>

    For a <b><%= @execution.vm_type %></b> virtual machine and <b><%= @execution.time_per_job %> minutes </b> per job,
    e-Clouds will choose the following parameters

    <br>
    <br>
    <table class="table span3">

      <tr>
        <td>eClouds will use: </td>
        <td> <%= @execution.vm_number %> virtual_machines </td>
      </tr>

      <tr>
        <td>Total Jobs: </td>
        <td><%= @execution.number_of_jobs %> </td>
      </tr>
      <tr>
        <td>Computing hours: </td>
        <td> <%= @execution.computing_hours %> -> (<%= @execution.computing_minutes %> minutes ) </td>
      </tr>
      <tr>
        <td>Cost per virtual machine: </td>
        <td> $USD <%= @execution.vm_cost %> per hour </td>
      </tr>

      <tr>
        <td>Total cost </td>
        <td> $USD <%= @execution.total_estimated_cost %> </td>
      </tr>

      <tr>
        <td>This will take </td>
        <td> <%= @execution.estimated_time_minutes %> minutes </td>
      </tr>

    </table>


    <div class="actions" >
      <%= e.submit 'Calculate', :name => "calculate", :class => "btn btn-info"%>
    </div>

    <br>
    <br>

    <ul class="nav nav-list">

      <li class="divider"></li>

    </ul>


    <div class="actions" >
      <%= e.submit 'Finish and show summary', :id=>'launchButton', :name => "summary", :class => "btn btn-primary"%>
    </div>

<% end %>

