<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "test" %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class= "brand"><%= link_to "e-Clouds", '#', id: "logo" %> <%= image_tag('https://s3.amazonaws.com/Eclouds/imagenes/logo.jpg' , :size => "30x30") %> </div>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to raw('<i class="icon-home"></i> Home'),    '/static_pages/home' %></li>

          <!-- botones de inicio de sesiion -->
          <% if user_signed_in? %>
              <li><%= link_to raw('<i class="icon-check"></i> Executions'),   executions_path %></li>
              <li><%= link_to raw('<i class="icon-th"></i> Apps'),   applications_path %></li>
              <li><%= link_to raw('<i class="icon-folder-open"></i> My Data'),   data_home_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  My Account
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to raw('<i class="icon-folder-open"></i> Account Balance'),   costs_path %></li>
                  <li><%= link_to raw('<i class="icon-user"></i> Edit Registration'), edit_user_registration_path %></li>
                  <li><%= link_to raw('<i class="icon-off"></i> Logout'), destroy_user_session_path , :method => :delete%></li>
                </ul>
              </li>

          <% else %>
              <li><%= link_to raw('<i class="icon-plus "></i> Register'), new_user_registration_path %></li>
              <li><%= link_to raw('<i class="icon-lock"></i> Login'), new_user_session_path %></li>
          <% end %>
          <li><%= link_to raw('<i class="icon-question-sign"></i> Help'),    '#' %></li>



        </ul>
      </nav>
    </div>
  </div>
</header>


<% flash.each do |key,value| %>
    <br>
    <% if key == :notice %>
        <p class="alert alert-info"><%= notice %></p>

    <% elsif key == :alert %>
        <p class="alert"><%= alert %></p>
    <% else %>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
<% end %>

<div class="container">
  <br>
  <%= yield %>
  <br>
  <br>
  <br>





</div>
</body>
<script>$('.dropdown-toggle').dropdown()</script>

</html>

